@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass';
  color: white;
}
/*Use 'margin: auto' for non flexbox/grid projects */


/* Fits images in containers no matter the size */

img {
   max-width: 100%;
   height: auto;
}

/* FLEX CONTAINERS */

#canvas, .card, .rating-container, .selector {
  display: flex;
}

#canvas, .card {
  align-items: center;
}

/* COMMON FONT SIZES */

.para, button, .rating-result-container, .para-conf {
  font-size: 0.875em;
}

/* PROPERTY VALUES FOR INITIAL CARD */

#canvas {
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #131518;
}

.card {
  flex-direction: column;
  position: relative;
  min-width: 68%;
  max-width: 20.438em;
  min-height: 22.75em;
  padding: 1.5em 1.5em 2em 1.5em;
  border-radius: 0.938em;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
}

.star {
  margin: 0 auto 1.375em 0;
}

.question {
  min-width: 90%;
  width: 279px;
  height: 2.313em;
  margin-bottom: -0.4em;
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFF;
}

.infinity {
  display: none;
  position: absolute;
  width: 4.375em;
  height: 4.375em;
  top: 0.313em;
}

.para {
  min-width: 90%;
  width: 19.7em;
  height: 4.125em;
  margin-bottom: 1.5em;
  font-weight: 400;
  line-height: 1.375em;
  color: #969FAD;
}

.rating-container {
  flex-direction: row;
  justify-content: space-between;
  min-width: 90%;
  width: 17.563em;
  height: 2.625em;
  margin-bottom: 2em;
}

.selector {
  justify-content: center;
  align-items: center;
  width: auto;
  width: 2.625em;
  height: 2.625em;
  border-radius: 50%;
  background: #262E38;
  border: none;
  color: #969FAD;
  transition-duration: 1.5s;
  transition-timing-function: ease;
}

button {
  min-width: 94%;
  width: 17.438em;
  height: 2.813em;
  border-radius: 1.406em;
  border: none;
  font-weight: 700;
  letter-spacing: 0.117em;
  background: #FC7614;
  transition-duration: 0.3s;
}

/* PROPERTY VALUES FOR RESULTS CARD */

.payment-img {
  margin-top: 0.75em;
  width: 9em;
  height: 6em;
}

.rating-result-container {
  width: 60%;
  min-width: 10.5em;
  height: 2em;
  border: none;
  margin-top: 2.5em;
  border-radius: 1.406em;
  padding: 0.438em 0.75em 0.313em 0.75em;
  font-family: 'Overpass';
  font-weight: 400;
  line-height: 1.375em;
  color: #FC7614;
  background: #262E38;
  text-align: center;
  perspective: 31.25em;
}

.thanks {
  width: 90%;
  min-width: 279px;
  height: 37px;
  margin-top: 29px;
  font-family: 'Overpass';
  font-size: 24px;
  color: #FFF;
  text-align: center;
}

.para-conf {
  width: 90%;
  min-width: 279px;
  height: 5em;
  margin-top: 0.625em;
  color: #969FAD;
  font-weight: 400;
  line-height: 1.65em;
  text-align: center;
}

.active {
  background-color: #7C8798;
  color: white;
}

.rating-container li:hover {
  background-color: #FC7614;
  transition-duration: 1.5s;
  color: white;
  transform: rotateY(2turn);
  cursor: pointer;
}

/* ANIMATIONS AND EFFECTS */

.rating-container li:hover {
  background-color: #FC7614;
  transition-duration: 1.5s;
  color: white;
  transform: rotateY(2turn);
  cursor: pointer;
}

#sub-btn:hover {
  background-color: white;
  color: #FC7614;
  border-radius: 0;
  transition-duration: 0.3s;
  cursor: pointer;
}

@media ( min-width: 600px ) {

  .card {
    min-width: 412px;
    height: 416px;
    padding: 32px 40px 32px 32px;
  }

  .star {
    margin-bottom: 30px;
  }

  .question {
    max-width: 199px;
    height: 43px;
    margin-right: auto;
    margin-bottom: 7px;
    font-size: 28px;
  }

  .para {
    min-width: 340px;
    height: 72px;
    margin-bottom: 24px;
    font-size: 15px;
    line-height: 24px;
  }

  .rating-container {
    min-width: 341px;
    height: 51px;
    margin-bottom: 32px;
  }

  .selector {
    min-width: 51px;
    height: 51px;
    color: #969FAD
  }

  button {
    width: 341px;
    height: 45px;
    letter-spacing: 2px;
    font-size: 15px;
  }

  /* MEDIA QUERY FOR RESULTS CARD */

  .rating-result-container {
    min-width: 193px;
    height: 32px;
    margin-top: 30px;
  }

  .payment-img {
    width: 144px;
    height: 96px;
    margin-top: 20px;
  }

  .thanks {
    margin-top: 38px;
  }

  .para-conf {
    width: 340px;
    height: 72px;
    font-size: 15px;
    margin-top: 10px;
  }

  .active {
    color: white;
    background-color: #7C8798;
  }
}