@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass';
  color: white;
}
/*Use 'margin: auto' for non flexbox/grid projects */


/* Fits images in containers no matter the size */

img {
   max-width: 100%;
   height: auto;
}

/* PROPERTY VALUES FOR INITIAL CARD */

#canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #131518;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 68%;
  max-width: 327px;
  height: 360px;
  padding: 24px 24px 32px 24px;
  border-radius: 15px;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
}

.star {
  margin: 0 auto 16px 0;
}

.question {
  min-width: 90%;
  width: 279px;
  height: 37px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  color: #FFF;
}

.infinity {
  display: none;
  position: absolute;
  width: 70px;
  height: 70px;
  top: 5px;
}

.para {
  min-width: 90%;
  width: 279px;
  height: 66px;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #969FAD;
}

.rating-container {
  display: flex;
  justify-content: space-between;
  min-width: 90%;
  width: 281px;
  height: 42px;
  margin-bottom: 24px;
}

.selector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #262E38;
  border: none;
  color: #969FAD;
  /* transition-property: transform; */
  transition-duration: 1.5s;
  transition-timing-function: ease;
}

button {
  min-width: 90%;
  width: 279px;
  height: 45px;
  border-radius: 22.5px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.867px;
  background: #FC7614;
}

/* PROPERTY VALUES FOR RESULTS CARD */

.payment-img {
  margin-top: 12px;
  width: 144px;
  height: 96;
}

.rating-result-container {
  width: 60%;
  min-width: 168px;
  height: 32px;
  border: none;
  margin-top: 24px;
  border-radius: 22.5px;
  padding: 7px 12px 5px 12px;
  font-family: 'Overpass';
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #FC7614;
  background: #262E38;
  text-align: center;
  perspective: 500px;
}

.thanks {
  width: 90%;
  min-width: 279px;
  height: 37px;
  margin-top: 29px;
  font-family: 'Overpass';
  font-size: 24px;
  color: #FFF;
  text-align: center;
}

.para-conf {
  width: 90%;
  min-width: 279px;
  height: 66px;
  margin-top: 10px;
  color: #969FAD;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

/* ANIMATIONS AND EFFECTS */

.selector[type="button"]:hover {
  background-color: #FC7614;
  transition-duration: 1.5s;
  color: white;
  transform: rotateY(2turn);
}

@media ( min-width: 600px ) {

  .card {
    min-width: 412px;
    height: 416px;
    padding: 32px 40px 32px 32px;
  }

  .star {
    margin-bottom: 30px;
  }

  .question {
    max-width: 199px;
    height: 43px;
    margin-right: auto;
    margin-bottom: 7px;
    font-size: 28px;
  }

  .para {
    min-width: 340px;
    height: 72px;
    margin-bottom: 24px;
    font-size: 15px;
    line-height: 24px;
  }

  .rating-container {
    min-width: 341px;
    height: 51px;
    margin-bottom: 32px;
  }

  .selector {
    min-width: 51px;
    height: 51px;
    color: #969FAD
  }

  button {
    width: 341px;
    height: 45px;
    letter-spacing: 2px;
    font-size: 15px;
  }

  /* MEDIA QUERY FOR RESULTS CARD */

  .rating-result-container {
    width: 193px;
    height: 32px;
    margin-top: 30px;
  }

  .payment-img {
    width: 144px;
    height: 96px;
    margin-top: 20px;
  }

  .thanks {
    margin-top: 38px;
  }

  .para-conf {
    width: 340px;
    height: 72px;
    font-size: 15px;
    margin-top: 10px;
  }
}