@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass';
  color: white;
}
/*Use 'margin: auto' for non flexbox/grid projects */


/* Fits images in containers no matter the size */

img {
   max-width: 100%;
   height: auto;
}

/* FLEX CONTAINERS */

#canvas, .card, .rating-container, .selector {
  display: flex;
}

#canvas, .card {
  align-items: center;
}

/* COMMON FONT SIZES */

.para, button, .rating-result-container, .para-conf {
  font-size: 0.875em;
}

/* PROPERTY VALUES FOR INITIAL CARD */

#canvas {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #131518;
}

.card {
  flex-direction: column;
  position: relative;
  min-width: 68%;
  max-width: 20.438em;
  min-height: 22.75em;
  padding: 1.5em 1.5em 2em 1.5em;
  border-radius: 0.938em;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
}

.star {
  margin: 0 auto 1.375em 0;
}

.question {
  min-width: 90%;
  width: 11.6em;
  height: 2.313em;
  margin-bottom: -0.4em;
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFF;
}

.infinity {
  display: none;
  position: absolute;
  width: 4.375em;
  height: 4.375em;
  top: 0.313em;
}

.para {
  min-width: 90%;
  width: 19.7em;
  height: 4.125em;
  margin-bottom: 1.5em;
  font-weight: 400;
  line-height: 1.375em;
  color: #969FAD;
}

.rating-container {
  flex-direction: row;
  justify-content: space-between;
  min-width: 90%;
  width: 17.563em;
  height: 2.625em;
  margin-bottom: 2em;
}

.selector {
  justify-content: center;
  align-items: center;
  width: auto;
  width: 2.625em;
  height: 2.625em;
  border-radius: 50%;
  background: #262E38;
  border: none;
  color: #969FAD;
  transition-duration: 1.5s;
  transition-timing-function: ease;
}

button {
  min-width: 94%;
  width: 17.5em;
  height: 3em;
  border-radius: 1.406em;
  border: none;
  font-weight: 700;
  letter-spacing: 0.117em;
  background: #FC7614;
  transition-duration: 0.3s;
}

/* PROPERTY VALUES FOR RESULTS CARD */

.payment-img {
  margin-top: 0.75em;
  width: 9em;
  height: 6em;
}

.rating-result-container {
  width: 60%;
  min-width: 10.5em;
  height: 2em;
  border: none;
  margin-top: 2.5em;
  border-radius: 1.406em;
  padding: 0.438em 0.75em 0.313em 0.75em;
  font-family: 'Overpass';
  font-weight: 400;
  line-height: 1.375em;
  color: #FC7614;
  background: #262E38;
  text-align: center;
  perspective: 31.25em;
}

.thanks {
  width: 90%;
  min-width: 11.7em;
  height: 1.5em;
  margin-top: 1.2em;
  font-family: 'Overpass';
  font-size: 1.5rem;
  color: #FFF;
  text-align: center;
}

.para-conf {
  width: 279px;
  min-width: 14em;
  height: 5em;
  margin-top: 0.625em;
  color: #969FAD;
  font-weight: 400;
  line-height: 1.65em;
  text-align: center;
}

.active {
  background-color: #7C8798;
  color: white;
}

.rating-container li:hover {
  background-color: #FC7614;
  transition-duration: 0.3s;
  color: white;
  transform: rotateY(2turn);
  cursor: pointer;
}

/* ANIMATIONS AND EFFECTS */

.rating-container li:hover,
#sub-btn:hover {
  cursor: pointer;
}

.rating-container li:hover {
  background-color: #FC7614;
  transition-duration: 1.5s;
  color: white;
  /* transform: rotateY(2turn); */
}

#sub-btn:hover {
  background-color: white;
  color: #FC7614;
  border-radius: 0;
  transition-duration: 0.3s;
}

footer a {
  font-size: 1.2rem;
  text-decoration: none;
  animation: smoothFill 5s ease-out 0s infinite both;
  width: 80%;
}

.footer-container {
  margin-top: 3.125em;
  font-size: 1.2rem;
  text-align: center;
  width: 80%;
}

@keyframes smoothFill {
  00%,0%{
    color: #ff0000;
  }
  8%{
    color: #ff7f00;
  }
  16%{
    color: #ffff00;
  }
  25%{
    color: #7fff00;
  }
  33%{
    color: #00ff00;
  }
  41%{
    color: #00ff7f;
  }
  50%{
    color: #00ffff;
  }
  58%{
    color: #007fff;
  }
  66%{
    color: #0000ff;
  }
  75%{
    color: #7f00ff;
  }
  83%{
    color: #ff00ff;
  }
  91%{
    color: #ff007f;
  }
}

@media ( min-width: 600px ) {

  .card {
    min-width: 25.75em;
    height: 26em;
    padding: 2em 40px 2em 2em;
  }

  .star {
    margin-bottom: 1.875em;
  }

  .question {
    max-width: 12.438em;
    height: 2.688em;
    margin-right: auto;
    margin-bottom: 0.438em;
    font-size: 1.75em;
  }

  .para {
    min-width: 22em;
    height: 4.5em;
    margin-bottom: 1.7em;
    font-size: 0.938em;
    line-height: 1.5em;
  }

  .rating-container {
    min-width: 341px;
    height: 3.188em;
    margin-bottom: 2em;
  }

  .selector {
    min-width: 3.188em;
    height: 3.188em;
    color: #969FAD
  }

  button {
    width: 22.5em;
    height: 4.5em;
    letter-spacing: 0.125em;
    font-size: 0.938rem;
  }

  /* RESULTS CARD */

  .rating-result-container {
    min-width: 12.063em;
    height: 2em;
  }

  .payment-img {
    width: 9em;
    height: 6em;
    margin-top: 1.25em;
  }

  .thanks {
    margin-top: 1.5em;
  }

  .para-conf {
    width: 22.5em;
    height: 4.5em;
    font-size: 0.938rem;
    margin-top: 0.625em;
  }

  .active {
    color: white;
    background-color: #7C8798;
  }

  .rating-container li:hover {
    background-color: #FC7614;
    transition-duration: 1.5s;
    color: white;
    transform: rotateY(2turn);
    cursor: pointer;
  }

  #sub-btn:hover {
    background-color: white;
    color: #FC7614;
    border-radius: 0;
    transition-duration: 0.3s;
    cursor: pointer;
  }
}